.intro {
  margin-top: 80px;
  padding-top: 128px;
  padding-bottom: 192px;
  position: relative;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.5);
    }
  }

  // &__body {}

  &__pretitle {
    color: $white;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 24px;
    span {
      font-weight: 900;
    }
  }

  &__title {
    color: $white;
    font-family: $font2;
    font-size: 56px;
    font-weight: 700;
    line-height: 114.286%;
    letter-spacing: -2px;
    margin-bottom: 24px;
    max-width: 803px;
  }

  &__info {
    margin-bottom: 16px;
    & > * {
      display: inline-block; 
      @extend %body1; 
      span {
        color: $yellow;
      }
    }
  }

  // &__author {}

  .separator {
    margin: 0 10px;
  }

  // &__date {}

  &__text {
    @extend %body1;
    margin-bottom: 48px;
    max-width: 600px;
  }

  // &__btn {}

}
