@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .menu {
    &.active {
      top: 0;
    }
    padding: 60px 0;
    overflow: auto;
    position: absolute;
    width: 100%;
    left: 0;
    top: -100vh;
    transition: all 0.5s ease;
    height: 100vh;
    z-index: 150;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
    background-color: rgba(0,0,0,0.9);
    &__item {
      font-size: 22px;
      margin-right: 0;
    }
  }

  .intro {
    margin-top: 54px;
    padding: 70px 0;
  }
}

@media (max-width: 425px) {
  .intro {
    &__title {
      font-size: 37px;
      line-height: 114.286%;
    }
  }
}