@media (max-width: 1024px) {
  .about {
    &__about-us {
      &_title {
        font-size: 28px;
        line-height: 32px;
      }
    }
  }
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .menu {
    &.active {
      top: 0;
    }
    padding: 60px 0;
    overflow: auto;
    position: absolute;
    width: 100%;
    left: 0;
    top: -100vh;
    transition: all 0.5s ease;
    height: 100vh;
    z-index: 150;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
    background-color: rgba(0,0,0,0.9);
    &__item {
      font-size: 22px;
      margin-right: 0;
    }
  }

  .intro {
    margin-top: 54px;
    padding: 70px 0;
  }

  .posts {
    &__body {
      flex-wrap: wrap;
    }

    &__main-post {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  .about {
    margin-top: 60px;
    &__body {
      padding: 48px 40px;
      flex-wrap: wrap;
      &>* {
        flex-basis: auto;
      }
    }
  }
}

@media (max-width: 425px) {
  .intro {
    &__title {
      font-size: 37px;
      line-height: 114.286%;
    }
  }

  .posts {
    margin-top: 60px;
  }

  .about {
    &__about-us {
      &_title {
        font-size: 22px;
      }
    }
    &__body {
      padding: 34px 20px;
    }
  }
}