//colors
$white: #fff;
$black: #232536;
$yellow: #FFD050;
$purple: #592EA9;
$dark-grey: #4C4C4C;
$medium-grey: #6D6E76;
$light-grey: #F4F4F4;
$lavender: #F4F0F8;
$light-yellow: #FBF6EA;

//fonts
$font1: Inter;
$font2: Sen;